In [116]:
library(rjson)

# url with some information about project in Andalussia
url <- 'https://trunkdb.com/api/1.0/database/1055/datasetdata/1143?rowsperpage=50&startindex=0'

# read url and convert to data.frame
document <- fromJSON(file=url, method='C')

In [136]:
readcolumns <- function(listname) {
  d <- listname$columnName
  d
}

readrows <- function(listname,cols) {
    d<-c()
     for (i in 1:length(cols)){
        d <- c(d, listname$cell[[cols[[i]]]]$value ) 
     }  
    
    d
}

columns<-lapply(document$columns, readcolumns )
rows<-lapply(document$row,readrows, cols=columns )

columns

as.data.frame(rows, row.names = columns)

[[1]]
[1] "CountryName"

[[2]]
[1] "Population"

[[3]]
[1] "CityName"

            c..Albania....192000....Tirane.. c..Albania....62000....Shkoder..
CountryName Albania                          Albania
Population  192000                           62000
CityName    Tirane                           Shkoder
            c..Albania....60000....Durres.. c..Albania....56000....Vlore..
CountryName Albania                         Albania
Population  60000                           56000
CityName    Durres                          Vlore
            c..Albania....53000....Elbasan.. c..Albania....52000....Korce..
CountryName Albania                          Albania
Population  53000                            52000
CityName    Elbasan                          Korce
            c..Greece....NULL....Komotini.. c..Greece....56705....Kavalla..
CountryName Greece                          Greece
Population  NULL                            56705
CityName    Komotini                        Kavalla
            c..Greece....885737....Athens.. c..Greece....196389....Piraeus..
CountryName Greece                          Greece
Population  885737                          196389
CityName    Athens                          Piraeus
            ... c..France....113828....Besancon..
CountryName ... France
Population  ... 113828
CityName    ... Besancon
            c..France....102723....Rouen.. c..France....195854....Le.Havre..
CountryName France                         France
Population  102723                         195854
CityName    Rouen                          Le Havre
            c..France....2152423....Paris..
CountryName France
Population  2152423
CityName    Paris
            c..France....101743....Boulogne.Billancourt..
CountryName France
Population  101743
CityName    Boulogne Billancourt
            c..France....207996....Montpellier.. c..France....128471....Nimes..
CountryName France                               France
Population  207996                               128471
CityName    Montpellier                          Nimes
            c..France....105983....Perpignan.. c..France....133464....Limoges..
CountryName France                             France
Population  105983                             133464
CityName    Perpignan                          Limoges
            c..France....119594....Metz..
CountryName France
Population  119594
CityName    Metz